services:
  web:
    image: nginx:1.27
    ports:
    - "8443:443"

    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/html:/usr/share/nginx/html:ro
      - ./server/server_fullchain.pem:/etc/nginx/certs/server_fullchain.pem:ro
      - ./server/server.key.pem:/etc/nginx/certs/server.key.pem:ro

# site do ngrok: https://turbanlike-corie-snowily.ngrok-free.dev/
  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    environment:
      - NGROK_AUTHTOKEN=35H0b9HUQfeMSpdM88BmQDuLrpd_337dzbKwbXqj7woMTyhFf
    ports:
      - "4040:4040"
    command: 
      - "http"
      - "web:443"
    depends_on:
      - web