services:
  web:
    image: nginx:1.27
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/html:/usr/share/nginx/html:ro
      - ./server/server.cert.pem:/etc/nginx/certs/server.cert.pem:ro
      - ./server/server.key.pem:/etc/nginx/certs/server.key.pem:ro
      - ./ca/intermediate/chain.pem:/etc/nginx/certs/chain.pem:ro
